<ion-header [translucent]="true">
  
  <ion-toolbar color="primary">
    <div class="divHeaderP">
      <div class="divHeaderT">
        <ion-title><h1 style="width: 100px;">Math Kids</h1></ion-title>
      </div>   
      <div class="divHeaderAvatar">
        <h6 class="userTitle">Bienvenido, User</h6> 
        <ion-avatar class="avatarImg">          
          <img alt="Avatar" src="https://ionicframework.com/docs/img/demos/avatar.svg" />  
        </ion-avatar>
      </div>
    </div>    
  </ion-toolbar>
  
</ion-header>

<ion-content [fullscreen]="true">
  <div class="divSubTitleMenuP">
    <div class="divSubTitleMenuH">
      <h1 class="SubTitleMenu">Operacion Aritmetica</h1>
      <h6 class="SubTitle2Menu">Selecciona una operacion</h6>
    </div>
  </div>

  <div class="divMenuP">
    <div class="divMenuHL">

    </div>
    <div class="divMenuHC">
      <ion-button class="menuButton">Suma</ion-button>
      <ion-button class="menuButton">Resta</ion-button>
      <ion-button class="menuButton">Multiplicacion</ion-button>
      <ion-button class="menuButton">Division</ion-button>
      <ion-button class="menuButton">Salir</ion-button>
    </div>
    <div class="divMenuHR">

    </div>
  </div>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" color="">Menu</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
