<ion-header [translucent]="true" >
  <ion-toolbar color="primary">
    <ion-title>
      <div style="display: inline-flex;">
        <h1 style="width: 100px;">Math Kids</h1>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <h1 ion-text color="secondary"></h1>
  <div class="divAvatarPadre">
    <div class="divAvatar">
      <ion-button class="btnAvatar">    
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
      <ion-avatar class="imgAvatar">        
        <img alt="Avatar" src="https://ionicframework.com/docs/img/demos/avatar.svg" />        
      </ion-avatar>
      <ion-button class="btnAvatar">
        <ion-icon name="arrow-forward-outline"></ion-icon>
      </ion-button>
    </div>
    <div>
      <h2 class="SubTitleAvatar">Elige un avatar</h2>
    </div>
  </div>

  <div class="divIngresoPadre">   
    <div class="divIngreso">
      <ion-input class="txtNickName" label="NickName" label-placement="floating" fill="outline" placeholder=""></ion-input>
      <ion-button class="btnIngreso">Ingresar</ion-button>
    </div>
  </div>
  
</ion-content>